
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 270px;
    perspective: 1000px;
    padding: 10px;
    @include desktop {
      margin: 70px;
    }
  }
  
  .flip-card-inner {
    position: absolute;
    width: 300px;
    height: 270px;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 300px;
    height: 270px;
    backface-visibility: hidden;
  }


  .flip-card-back {
    background-color: #50739C;
    color: white;
        transform: rotateY(180deg);
  }





