@import "_variables.scss";

.user-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        @include desktop {
        flex-direction: row;
    }
}

.food {
  width: 300px;
  height: auto;
}

.user-gallery-two { 
    display: flex;
    font-size: 1.72rem;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    margin: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;   

        @include tablet {
        font-size: 3rem; 
    }
        @include desktop{ 
        font-size: 4rem; 
    }
}


.container, .img {
  position: relative;
  display: inline-block;
  margin: 5%;
}

.imgtwo { 
  width: 300px;
  height: auto;  
  @include tablet {
    width: 350px;
  }
  @include laptop {
    width: 400px;
  }
  @include desktop {
    width: 500px;
  }
}

.overlay {
  font-size: 2.1rem;
  color: white;
  text-align: center;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.308);
}

.container:hover .overlay {
  opacity: 1;
}

.user-gallery-header {
  line-height: 1.2;
  margin: 0;
  color: transparent;
    -webkit-background-clip: text;
  background-clip: text;
  background-repeat: no-repeat;
  transition: 0.5s ease-out;
  background-image: linear-gradient(to bottom, rgb(230, 150, 86), rgb(240, 232, 125)), linear-gradient(to bottom,white, white);
  background-size: 0% 100%, 100% 100%;
  background-position: center;
    &:hover {
        letter-spacing: 4px;
        @include phone {
          letter-spacing: 7px;
        }
      background-size: 100% 100%, 100% 100%;
    }
  }