@import "_variables.scss";

.user-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include phone {
        height: 30vh;

    }
    @include laptop {
        height: 15vh;
    }
    @include tablet {
        height: 100vh;
    }
}

.user-gallery-header {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 3rem;
    @include phone {
        font-size: 3.5rem; }
    @include desktop{ 
        font-size: 4rem; }
    color: white;
}


 
 