@import "_variables.scss";

.user-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include phone {
        height: 50vh;
    }
    @include laptop {
        height: 15vh;
    }
    @include ipad {
        height: 100vh;
    }
}

.user-gallery-header {
    font-size: 2.5rem;
    color: white;
}


 
 