@import "_variables.scss";
@import "_usergallery.scss";
@import "_flipcard.scss";


html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;


}

body {

background-color: #ABBECB;

}

nav {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.5rem;
  width: 300px;
  background: rgb(231, 232, 233);
  color: black;
  -webkit-clip-path: circle(24px at 30px 24px);
  clip-path: circle(24px at 32px 24px);
  transition: 
  clip-path 0.75s;
  
  &:hover {
  transition-timing-function: ease-out;
  transition-duration: 0.75s;
  clip-path: circle(390px at 150px 24px);
}
}

a{
  display: block;
  line-height: 50px;
  padding: 0 20px;
  color: black;
  cursor: pointer;
  user-select: none;

  &:hover { background: rgb(170, 186, 196); 
    color: white;}
  &:active { background: rgb(204, 204, 204);}
}

@mixin line {
  width: 20px;
  height: 2px;
  background: black;
}

.navicon {
  padding: 23px 20px;
  cursor: pointer;
  transform-origin: 32px 24px;

  div {
    position: relative;
    @include line;
  
  &:before, &:after {
display: block;
content: "";
@include line;
position: absolute;
  }
  &:before {top: -7px;}
  &:before { top: 7px;}
}
}


.header{
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    backface-visibility: hidden;
}
.figure {
  width: 100%;
  height: 100vh;

  background-position: top;
}
.header > figure {

    margin:  0;
    animation: slide 12s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100vh;
  opacity: 0;
position: absolute;
  width: 100%;

}

.header > figure:nth-child(1) {
  animation-delay: 0s;
  background-image: url('../media/greece.jpg');
}
.header > figure:nth-child(2) {
  animation-delay: 4s;
  background-image: url('../media/greece2.jpg');
}
.header > figure:nth-child(3) {
  animation-delay: 8s;
  background-image: url('../media/greece3.jpg');
}
.header > figure:nth-child(4) {
  animation-delay: 12s;
  background-image: url('../media/island.jpg');
}

@keyframes slide {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
  }
  33% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
  

.heading-primary {
  font-family: 'Julius Sans One', sans-serif;
  color: white;

    font-size: 3rem;
    @include phone {
      font-size: 4rem;
    }
    @include laptop {
      font-size: 5rem;
    }
    @include desktop {
      font-size: 6rem;
    }

}

.text-box {
    position: absolute;
width: 100%;
    text-align: center;
    height: 50vw;
        }
        
img { 
   width: 300px;
  height: auto;
 
}

.user-gallery-two {
background: linear-gradient(rgb(134, 158, 173), rgba(80, 116, 156, 0.623));
height: auto;
}


.caption {
  margin: 0;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2rem;
  padding: 10px 10px 0 10px;
  background-color: white;
}  

.container, .img {
  position: relative;
  display: inline-block;
  margin: 5%;
  width: 300px;
  height: auto;
   
}


#content {
  text-align: center;
}



.map{
  display: flex;
  width: 100%;
  position: relative;
 align-items: center;
 @include tablet {
   width: 360px;
 }
  @include laptop {
    width: 500px;
  }
  @include desktop {
    width: 620px;
  }
} 

.fourth {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  @include tablet {
    flex-direction: row;
  }
  @include phone {
    flex-direction: row;
  }
  .desc {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 3rem;
    font-family: 'Julius Sans One', sans-serif;
    color: rgb(77, 77, 77);
  }
}