@import "_variables.scss";
@import "_usergallery.scss";


html {
    margin: 0;
    padding: 0;
    font-size: 50%;
    box-sizing: border-box;

}



.user-gallery-gallery {
    position: relative;
    top: -80px;
    width: 375px;
    height: 1624px;
    z-index: 2;
         @include phone {
            
    }

}

.heading-one {
    display: flex;
    justify-content: space-between;
    align-items: center;

        font-size: 4rem;
        color: black;
        z-index: 1;
        @include phone {
            
        }
    }

