@import "_variables.scss";
@import "_usergallery.scss";


html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;


}

body {

background-color: #ABBECB;

}
.island {
    width: 125vh;
    height: 100vh;

 
}

.header {
    position: relative;
    height: 100vh;

    background-image: url(../dist/media/islandcrop.jpg);
    background-position: top;
    background-size: cover;  
    
    
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 8vh, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0% 100%);

.text-box {
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
        }
        
.heading-primary {
    font-size: 4rem;
    text-align: center;
    margin: 0 auto;
        color: white;
        
}
}

.user-gallery-header {
    height: 10vh;
    
}
.user-gallery-gallery {
   max-width: 30px;
   height: 60vh;
     margin: 0 auto;
   
         @include phone { max-width: 300px; 
    }
}

.user-gallery-image {
  
    position: relative;
    display: flex;
    flex-direction: column;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #50739C;
  }
  
  
  li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 1rem;
    padding: 14px 16px;
    text-decoration: none;
        @include phone { 
            font-size: 2rem;
    }
  }
  
  li a:hover {
    background-color: #3C5982;
    
  }

